@page "/address/delete/{AddressId:int}"
@using BlazorEmployeeSample.Models
@using BlazorEmployeeSample.DataAccess
@inject IAddressRepository AddressRepository
@inject NavigationManager Navigation

<div class="container-sm">
    <p>Are you sure you want to delete @Address.Address1?</p>
</div>
<div class="container-sm">
    <button class="btn btn-danger" @onclick="Delete">Delete</button>
    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</div>
@if (IsError)
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

@code {
    [Parameter] public int AddressId { get; set; }
    private Address? Address { get; set; } = new();
    private bool IsError { get; set; }
    private string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Address = await AddressRepository.GetAddressAsync(AddressId);
        if (Address == null)
        {
            ErrorMessage = "Address not found.";
            IsError = true;
        }
        else
        {
            Address = Address!;
        }
        await base.OnInitializedAsync();
    }

    private async Task Delete()
    {
        try{
            await AddressRepository.DeleteAddressAsync(Address);
            Navigation.NavigateTo("/", true);
        }
        catch (Exception ex)
        {
            IsError = true;
            ErrorMessage = ex.Message;
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo($"address/edit/{AddressId}", true);
    }

}
