@page "/"
@using BlazorEmployeeSample.Models
@using BlazorEmployeeSample.DataAccess
@rendermode InteractiveServer
@inject IEmployeeRepository EmployeeRepository;

<PageTitle>Home</PageTitle>

<h1>Employee List</h1>

@if (IsLoading)
{
    <p>Loading...</p>
}
else if (Employees.Count == 0)
{
    <p>No employees found. Please add employees using Add Employee in menu.</p>
}
else
{
    <div class="container-sm">
        <div class="row">
            <div class="col-1">
                <strong>ID</strong>
            </div>
            <div class="col-3">
                <strong>Name</strong>
            </div>
            <div class="col-3">
                <strong>Job Title</strong>
            </div>
            <div class="col">
                <strong>Hire Date</strong>
            </div>
        </div>
        @foreach (var employee in Employees)
        {
            <EmployeeRow Employee="employee"/>
        }
    </div>
}



@code
{
    private ICollection<Employee?> Employees { get; set; } = new List<Employee?>();
    private bool IsLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadEmployees();
    }

    private async Task LoadEmployees()
    {
        Employees = (await EmployeeRepository.GetEmployeesAsync()).ToList();
        IsLoading = false;
    }
}