@page "/"
@using BlazorEmployeeSample.Models
@using Microsoft.EntityFrameworkCore
@using BlazorEmployeeSample.DataAccess
@rendermode InteractiveServer
@inject IEmployeeRepository EmployeeRepository;

<PageTitle>Home</PageTitle>

<h1>Employee List</h1>



<div class="container">
    <div class="row">
        <div class="col-1">
            <strong>ID</strong>
        </div>
        <div class="col-1">
            <strong>First Name</strong>
        </div>
        <div class="col-1">
            <strong>Last Name</strong>
        </div>
    </div>
    @foreach (var employee in Employees)
    {
        <EmployeeRow Employee="employee"/>
    }
</div>



@code
{
    private ICollection<Employee?> Employees { get; set; } = new List<Employee?>();

    protected override async Task OnInitializedAsync()
    {
        await LoadEmployees();
    }

    private async Task LoadEmployees()
    {
        Employees = (await EmployeeRepository.GetEmployeesAsync()).ToList();
    }
}
