@using BlazorEmployeeSample.Models

@if (Employee != null)
{
    <div class="row">
        <div class="col col-1">
            @Employee.EmployeeId
        </div>
        <div class="col col-1">
            @Employee.FirstName
        </div>
        <div class="col col-1">
            @Employee.LastName
        </div>
    </div>
}

@code {
    [Parameter]
    public Employee? Employee { get; set; } = new Employee();
}
